/*  your css code here. If applicable */
body {
    margin: 0;
    height: 100vh;
    background-color: #a15cda;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    gap: 20px;
}

.btn,
.stop {
    background-color: #69319d;
    color: white;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 2px;
}

.btn:hover,
.stop:hover {
    background-color: #54257e;
}